* {
  font-family: 'Bangers', cursive;
  font-size: 1em;
  box-sizing: border-box;
}

h1,
p,
h2,
h3,
h4,
h5,
h6 {
  color: #e62605;
}

img,
video,
button {
  display: block;
}

/* ---------- App.js -------------- */
#background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  z-index: -5;
  opacity: 1;
  object-fit: cover;
}

/* ------------Login.js ------------*/

#homelogin {
  height: 30vh;
  width: 20vw;
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  z-index: -5;
  opacity: 1;
}

/* -------------Coin Flip / Toss --------------*/

#coin {
  cursor: pointer;
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 200px;
}

#coin div {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 45px rgba(255, 255, 255, 0.3),
    0 12px 20px -10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 0 45px rgba(255, 255, 255, 0.3),
    0 12px 20px -10px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 45px rgba(255, 255, 255, 0.3),
    0 12px 20px -10px rgba(0, 0, 0, 0.4);
}

.side-a {
  background-image: url('./components/images/dollarfront.png');
  object-fit: fill;
  color: red;
  text-align: center;
}

.side-b {
  background-image: url('./components/images/dollarback.png');
  color: red;
  text-align: center;
  height: 100%;
  width: 100%;
}

#coin {
  transition: -webkit-transform 1s ease-in;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#coin div {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.side-a {
  z-index: 100;
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}

.side-b {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

#coin.heads {
  -webkit-animation: flipHeads 2s ease-out forwards;
  -moz-animation: flipHeads 2s ease-out forwards;
  -o-animation: flipHeads 2s ease-out forwards;
  animation: flipHeads 2s ease-out forwards;
}

#coin.tails {
  -webkit-animation: flipTails 2s ease-out forwards;
  -moz-animation: flipTails 2s ease-out forwards;
  -o-animation: flipTails 2s ease-out forwards;
  animation: flipTails 2s ease-out forwards;
}

@keyframes flipHeads {
  from {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    transform: rotateY(0);
  }
  to {
    -webkit-transform: rotateY(540deg);
    -moz-transform: rotateY(540deg);
    transform: rotateY(540deg);
  }
}

@keyframes flipTails {
  from {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    transform: rotateY(0);
  }
  to {
    -webkit-transform: rotateY(720deg);
    -moz-transform: rotateY(720deg);
    transform: rotateY(720deg);
  }
}

/* -------------------counter class css ----------------*/

.playerpoints {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 3em;
}

.playername {
  font-size: 3em;
}

.pointstotal {
  font-size: 0.9em;
  padding: 10px;
}

.tile_x {
  /* border: 1px solid red; */
  width: 16%;
  overflow: hidden;
  justify-content: center;
  display: flex;
  background-image: url('./components/images/coaster1.png');
  background-repeat: no-repeat;
  background-position-y: 90%;
  background-size: 100%;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

/* -------------------------- Game Page Divs -------------------------*/

.gamePage {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  /* border: 1px solid red; */
}

.p1,
.p2 {
  flex: 1;
  align-self: center;
  /* justify-content: center; */
  /* border: 1px solid red; */
  text-align: center;
  font-size: 70px;
  text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgba(0, 0, 0, 0.15),
    0px 24px 2px rgba(0, 0, 0, 0.1), 0px 34px 30px rgba(0, 0, 0, 0.1);
}

.flip {
  flex: 2;
  align-self: center;
  justify-content: center;
  /* border: 1px solid red; */
  text-align: center;
  font-size: 1.2em;
  text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgba(0, 0, 0, 0.15),
    0px 24px 2px rgba(0, 0, 0, 0.1), 0px 34px 30px rgba(0, 0, 0, 0.1);
}

.gameBottom {
  flex: 1 100%;
  /* border: 1px solid limegreen; */
}

.spacer {
  flex: 1 100%;
  /* border: 1px solid limegreen; */
  height: 32vh;
  text-align: center;
  font-size: 2em;
  margin-top: 0.5 em;
  color: #e62605;
}

.winner {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  text-align: center;
  background-size: 100% 100%;
  border-radius: 20px;
  background-image: url('./components/images/emptyglass.jpg');
  z-index: 1000;
  position: fixed;
  width: 50vw;
  height: 50vh;
  margin-left: -25vw;
  margin-top: -25vh;
  left: 50%;
  top: 50%;
  color: red;
  font-size: 5vw;
  overflow: hidden;
}

.drink {
  flex: 1 100%;
  /* height: auto; */
  /* padding-top: 20%; */
  align-self: center;
}

.restart {
  flex: 1;
  width: auto;
  border: 2px solid black;
  cursor: pointer;
  align-self: center;
  margin-left: 25%;
  margin-right: 25%;
  background-color: white;
  border-radius: 10px;
}

/* ----------------Tiles Class ------------ */
.tiles {
  display: flex;
  flex-direction: row;
  padding: 20px;
  top: 75%;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
#shotglass {
  height: 30vh;
  width: 20vw;
}

/* --------------------------- LOGIN ------------------------------ */
.loginform {
  margin-left: auto;
  margin-right: auto;
  width: 8em;
  margin-top: 18%;
  font-size: 25px;
  text-align: center;
}
#signupbutton,
#loginbutton,
#email,
#password,
#agever {
  margin-top: 1em;
  width: 120%;
}
#radio {
  color: black;
  margin-top: 1em;
  font-size: 22px;
}

.form {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.p2,
.p1,
#flipheader {
  background: #f8f8ff;
  border-radius: 50%;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
/*
.gameTop{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  color: red;
  padding: 1em;
  text-align: center;
  padding-bottom: 35em;
}
*/
/* .gtChild {
  width: 40%;
  align-self: center;
  justify-content: center;
} */
