* {
  font-family: 'Bangers', cursive;
  font-size: 1em;
  box-sizing: border-box;
}
#background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  z-index: -5;
  opacity: 1;
  object-fit: cover;
}
.tiles {
  position: relative;
  display: inline;
  padding: 20px;
  top: 75%;
  width: 50%;
  left: 25%;
  display: flex;
  flex-direction: row;
}
img,
video,
button {
  display: block;
}
#shotglass {
  height: 30vh;
  width: 20vw;
}
#coin {
  cursor: pointer;
  position: relative;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}
#coin div {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 45px rgba(255, 255, 255, 0.3),
    0 12px 20px -10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 0 45px rgba(255, 255, 255, 0.3),
    0 12px 20px -10px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 45px rgba(255, 255, 255, 0.3),
    0 12px 20px -10px rgba(0, 0, 0, 0.4);
}
.side-a {
  background-image: url(https://images-na.ssl-images-amazon.com/images/I/91VycU5MBcL._AC_UL320_SR318,320_.jpg);
  object-fit: fill;
  color: red;
  text-align: center;
}
.side-b {
  background-image: url(https://www.ramint.gov.au/sites/default/files/2020/Corporate_website/large_2020-1-uncirculated_qantas_centenary_circ_rev.jpg);
  color: red;
  text-align: center;
  height: 100%;
  width: 100%;
}
#coin {
  transition: -webkit-transform 1s ease-in;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#coin div {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 2px solid red;
}
.side-a {
  z-index: 100;
}
.side-b {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg)
}
#coin.heads {
  -webkit-animation: flipHeads 2s ease-out forwards;
  -moz-animation: flipHeads 2s ease-out forwards;
  -o-animation: flipHeads 2s ease-out forwards;
  animation: flipHeads 2s ease-out forwards;
}
#coin.tails {
  -webkit-animation: flipTails 2s ease-out forwards;
  -moz-animation: flipTails 2s ease-out forwards;
  -o-animation: flipTails 2s ease-out forwards;
  animation: flipTails 2s ease-out forwards;
}
@keyframes flipHeads {
  from {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    transform: rotateY(0);
  }
  to {
    -webkit-transform: rotateY(540deg);
    -moz-transform: rotateY(540deg);
    transform: rotateY(540deg);
  }
}
@keyframes flipTails {
  from {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    transform: rotateY(0);
  }
  to {
    -webkit-transform: rotateY(720deg);
    -moz-transform: rotateY(720deg);
    transform: rotateY(720deg);
  }
}
h1 , p , h2 , h3 , h4 , h5 , h6 {
   color: red; /*#EEE9E5; */
}
.playerpoints {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 3em;
}
.playername {
  font-size: 3em;
}
.pointstotal {
  font-size: 0.9em;
  padding: 10px;
}
.tile_x {
  border: 1px solid red;
  width: 10%;
}
.gameTop{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  /* flex-flow: row nowrap; */
  /* border: 1px solid red; */
  color: red;
  padding: 1em;
  text-align: center;
  padding-bottom: 35em;
}
.gtChild{
  width: 40%;
  border: 1px solid red;
  align-self: center;
  justify-content: center;
}
.loginform {
  margin-left: auto;
  margin-right: auto;
  width: 8em;
  margin-top: 22%;
}

#signupbutton, #loginbutton {
  margin-top: 1em;
  width: 120%;
}
